<%-include("../partials/header.ejs")%>
<div class = "container ">
	<h1 style="text-align:center">
	Add New Comment to <%=campground.name%>
</h1>
<div class ="row"style="width:30%; margin:20px auto">
	<form action ="/campgrounds/<%=campground._id%>/comments" method = "POST" >
	<input class = "form-control form-group" type="text" name = "comment[text]" placeholder = "Add your Comment Here">
	
		 <button class ="btn btn-primary btn-block"style="margin-bottom:20px">
			 Submit
		</button>
</form>
<a href="/campgrounds/<%=campground._id%>">Go Back</a>
	</div>
</div>
<%-include("../partials/footer.ejs")%>