<%-include("../partials/header.ejs")%>
<div class = "container ">
	<h1 style="text-align:center">
	Edit <%=camp.name%>
</h1>
<div class ="row r1">
	<div class = "col-lg-3">
		
	</div>
<div class = " col-lg-6">
	<form action ="/campgrounds/<%=camp._id%>?_method=PUT" method = "POST" >
		<input class = "form-control form-group" type="text" name ="camp[name]" value="<%=camp.name%>">
		<input class = "form-control form-group" type="Number" name ="camp[price]" value="<%=camp.price%>" min="0.01" step="0.01">
	<input class = "form-control form-group" type="text" name = "camp[image]" value ="<%=camp.image%>">
		<input class = "form-control form-group" type="text" name = "camp[description]" value = "<%=camp.description%>">
	
		 <button class ="btn btn-primary btn-block"style="margin-bottom:20px">
			 Submit
		</button>
</form>
<a href="/campgrounds/<%=camp._id%>">Go Back</a>
	</div></div>
</div>
<%-include("../partials/footer.ejs")%>