<%-include("../partials/header.ejs")%>
<div class="container">
	<div class ="jumbotron">
		<h1>
			Welcome To YelpCamp!
		</h1>
		<p>
			View our hand-picked campgrounds from all over the world
		</p>
		<a href="/campgrounds/new"><button class="btn btn-primary btn-lg">
			Add New Campground		</button></a>
			<form class="form-inline"style ="margin-top:20px" action = "/campgrounds" method="GET">
  <div class="form-group" >
    <input type="text" class="form-control" name = "search" placeholder="Campground Search..">
  </div>
  
  <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
</form>

		
	</div>
   </div>
<div class = "container">
	<div class= "row text-center">
		<% arr.forEach(function(camp)
	  {%>
		<div class = "col-md-3 thumbnail"style="margin:30px">
			<img src="<%=camp.image%>"style="height:200px ;width:100%"  >
			<div class="caption">
				<h4>
					<%=camp.name%> </h4></div><p>
			
			                    <% if (camp.comments.length===0) { %>
                    <em>No reviews yet.</em>
                    <% } else { %>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star <% if (camp.rating > 1.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (camp.rating > 2.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (camp.rating > 3.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (camp.rating > 4.5) { %> checked <% } %>"></span>
			<% } %></p>

			<a href="/campgrounds/<%=camp._id%>" class = "btn btn-primary btn-md">More Info</a>
		</div>
			
		<%});%>
		
</div>
<%-include("../partials/footer.ejs")%>